/* //////////// Atividade-01 ///////////00 */

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #3b3737;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 300px;
    background: #fff;
}

h1 {
    display: flex;
    justify-content: center;
}

hr {

    margin-top: 10px; 
}

.titulo {
    margin-top: 25px;
    display: flex;
    justify-content: center;
} 

.duracao {
    display: flex;
    justify-content: center;
}

.button {
    margin-left: 14.5px;
}

.conteudo {
    display: grid;
    gap: 15px;
}
